* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    padding: 0;
}

li button {
    display: none !important;
}

body {
    font-size: 13px;
    overflow-x: hidden;
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    background-color: black;
}

.section-title h1 {
    color: white;
    font-style: italic;
}

.code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    border: 0;
    border-bottom: 1px solid crimson;
    background-color: #000;
    padding-bottom: 5px;
    font-weight: 500;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.code::placeholder {
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: white;
    font-weight: 300;
    text-align: center;
}

.code:focus {
   outline: none;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    border: 0;
    border-bottom: 1px solid crimson;
    background-color: #000;
    padding-bottom: 5px;
    font-weight: 500;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.user::placeholder {
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: white;
    font-weight: 300;
    text-align: center;
}

.user:focus {
   outline: none;
}

.password {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    border: 0;
    border-bottom: 1px solid crimson;
    background-color: #000;
    padding-bottom: 5px;
    font-weight: 500;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.password::placeholder {
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: white;
    font-weight: 300;
    text-align: center;
}

.password:focus {
   outline: none;
}

.password2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    border: 0;
    border-bottom: 1px solid crimson;
    background-color: #000;
    padding-bottom: 5px;
    font-weight: 500;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.password2::placeholder {
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: white;
    font-weight: 300;
    text-align: center;
}

.password2:focus {
   outline: none;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    border: 0;
    border-bottom: 1px solid crimson;
    background-color: #000;
    padding-bottom: 5px;
    font-weight: 500;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.email::placeholder {
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: white;
    font-weight: 300;
    text-align: center;
}

.email:focus {
   outline: none;
}

.buttonAlign {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}